  {
    "extends": [
      "universe/web"
    ],
    "plugins": [
      "file-progress"
    ],
    "rules": {
      "file-progress/activate": 1,
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "error",
      "react/react-in-jsx-scope": "off"
    }
  }
