@mixin breakpoint($size) {
  @if $size == sm {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $size == xxl {
    @media (min-width: 1920px) {
      @content;
    }
  }
}

.black-line {
  border: black solid 1px;
}

.search-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @include breakpoint(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-block {
    grid-column: 1/6;

    @include breakpoint(md) {
      grid-column: 2/5;
    }

    @include breakpoint(xl) {
      grid-column: 2;
    }
  }
}

.title-block {
  flex-direction: column;
  display: flex;

  @include breakpoint(md) {
    flex-direction: row;
  }

  &__typography {
    flex-direction: column;
    display: flex;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }
}
